<% if @job.valid? %>


  <% if :expired? %>
    <h2>Vaga Expirada</h2>
  <% end %>


  <h1><%= @job.title %></h1>

  <p><%= @job.category.name %></p>
  <p><%= @job.company.name %></p>
  <p><%= @job.description %></p>
  <p><%= @job.location %></p>


    <% if @job.featured? %>
       <strong>Destaque</strong>
    <% end %>


  <% elsif %>
      <%= flash[:alert] = 'Não foi possível criar a vaga' %>
      <%= render :new %>

  <% else %>
      <%= flash[:alert] = 'Não foi possível atualizar a vaga' %>
      <%= render :edit %>

<% end %>

<p><%= link_to 'Editar', edit_job_path %></p>

<p><%= link_to 'Voltar', root_path %></p>
